In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df =pd.read_csv(r'C:\Users\HP\Downloads\ml-latest-small\ml-latest-small\ratings.csv')
df.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [15]:

n_users = df.userId.unique().shape[0]
n_movies = df.movieId.unique().shape[0]

train_data, test_data = train_test_split(df, test_size=0.25)

#Create a train test split of 75/25 by declaring number of users and movies
train_data.head(5)

       userId  movieId  rating   timestamp
87209     562     3727     4.0  1368892928
27535     187       29     4.0  1161849623
30305     212     2028     2.5  1490114713
62890     414     1689     4.0   961438642
70266     448   114074     3.0  1441569356

In [28]:
train_data_matrix = np.zeros((n_users, n_movies))

train_data_matrix = train_data.pivot(index='userId', columns='movieId', values='rating').fillna(0)

train_data_matrix

#Populate the train matrix (userId x movieId) with ratings such that [userId index, movieId index] = given rating

movieId,1,2,3,4,5,6,7,8,9,10,...,190215,190221,191005,193567,193571,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
test_data_matrix = np.zeros((n_users, n_movies))

test_data_matrix = test_data.pivot(index='userId', columns='movieId', values='rating').fillna(0)

test_data_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,188751,189111,189333,189547,190183,190209,190219,193565,193573,193579
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
#Create cosine similarity matrices for movies and predict a movie-movie recommendation model

from sklearn.metrics.pairwise import pairwise_distances

movie_similarity = pairwise_distances(train_data_matrix.T, metric="cosine")
                                      
movie_pred = train_data_matrix.dot(movie_similarity)/np.array([np.abs(movie_similarity).sum(axis=1)])
                                      
movie_pred

,0,1,2,3,4,5,6,7,8,9,...,8794,8795,8796,8797,8798,8799,8800,8801,8802,8803
userId,,,,,,,,,,,,,,,,,,,,,
1,0.072040,0.075252,0.072925,0.085780,0.081332,0.074287,0.080949,0.082584,0.084891,0.074139,...,0.086179,0.086179,0.086689,0.086689,0.086689,0.086689,0.086689,0.086689,0.086689,0.086056
2,0.009420,0.009767,0.010572,0.010642,0.010290,0.009773,0.010656,0.010458,0.010599,0.010117,...,0.010580,0.010580,0.010411,0.010411,0.010411,0.010411,0.010411,0.010411,0.010411,0.010093
3,0.007916,0.007872,0.007651,0.007740,0.007878,0.007769,0.007819,0.007901,0.007677,0.007790,...,0.007731,0.007731,0.007767,0.007767,0.007767,0.007767,0.007767,0.007767,0.007767,0.007742
4,0.059072,0.061484,0.062090,0.065719,0.063403,0.061438,0.063042,0.065032,0.065722,0.060765,...,0.066032,0.066032,0.066284,0.066284,0.066284,0.066284,0.066284,0.066284,0.066284,0.065799
5,0.011668,0.012551,0.013631,0.014669,0.013817,0.013217,0.013388,0.014413,0.015081,0.012130,...,0.015308,0.015308,0.015533,0.015533,0.015533,0.015533,0.015533,0.015533,0.015533,0.015355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.326280,0.336393,0.341089,0.344613,0.339674,0.339016,0.324342,0.346594,0.345322,0.335742,...,0.345308,0.345308,0.347104,0.347104,0.347104,0.347104,0.347104,0.347104,0.347104,0.344626
607,0.046571,0.049385,0.049984,0.055329,0.053090,0.050095,0.052865,0.054091,0.055045,0.048186,...,0.055822,0.055822,0.056162,0.056162,0.056162,0.056162,0.056162,0.056162,0.056162,0.055905
608,0.191779,0.194846,0.198912,0.218912,0.209174,0.201038,0.209095,0.211285,0.217016,0.191213,...,0.219688,0.219688,0.220810,0.220810,0.220810,0.220810,0.220810,0.220810,0.220810,0.217847
609,0.007242,0.007724,0.008049,0.008689,0.008166,0.007867,0.008070,0.008305,0.008482,0.006671,...,0.008950,0.008950,0.009023,0.009023,0.009023,0.009023,0.009023,0.009023,0.009023,0.008920
610,0.374926,0.397579,0.410203,0.412156,0.409183,0.374179,0.413068,0.409349,0.411942,0.397248,...,0.411927,0.411927,0.411361,0.411361,0.411361,0.411361,0.411361,0.411361,0.411361,0.408533